.mainContainer{
    background-color: #F2FFFF;
    height: 100vh;
    
}
.filter{
    max-width: 200px;
    border-right:1px solid rgba(0, 0, 0, 0.40) ;
    height: 50vh;
}
.addSurveyBtn{
    background-color: #40D469;
    color: white;
}
.survey{
    width: 360px;
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0.139);
    border-radius: 16px;
    background-color: white;
}
.surveyHeader{
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);
    background-color: #cffcfc60;
    border-radius: 16px 16px 0 0;
}